<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Random Music Selector</title>
</head>
<body>
    <h1>Random Music Selector</h1>
    {% if error %}
        <p>{{ error }}</p>
    {% else %}
        <h2>{{ video_title }}</h2>
        <div class="container">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/{{ video_id }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    {% endif %}
    <form action="/" method="get">
        <button type="submit">Reload</button>
    </form>
</body>
</html>
